body { 
    background-color: #F2F6D0;
    font-family: 'Europa', sans-serif;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}
      
#articles {
    display: inline-block;
    overflow: auto;
    width: 60%;
    height: 700px;
    padding: 1rem;
    box-shadow: 0 3px 40px -15px rgba(0,0,0,0.2)
}
      
#notes {
    float: right;
    width: 30%;
}
      
.textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
}
      
.input {
     height: 36px;
    font-size: 24px;
}
      
.textarea {
    height: 200px;
    font-size: 18px;
}